#baileys{
  font-size:50px;
  height:100px;
  width:70%;
  background-color:#88ee88;
  color:#003333;
  margin:0 auto 0 auto;
}
p {
  font-size:50px;
  margin:0 auto 0 auto;
}
img {
  margin:0 auto 0 auto;
}
