html, body, .wrapper, nav{
margin:0px;
padding:0px;
}

html, body, .wrapper{
height:100%;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color:#222222;
}

.wrapper{
height:100%;
width:100%;
display:grid;
}

@media only screen and (max-width:738px) {
  .wrapper{
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 60% 20%;
}
}

@media only screen and (min-width: 739px) {
  .wrapper{
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 60% 20%;
}
}

header{
text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
}

h1{
margin:0;
width:100%;
font-weight: 100;
}

@media only screen and (orientation:landscape) {
  h1{
    font-size: 3vw;
  }
}

@media only screen and (orientation:portrait) {
  h1{
    font-size: 6vw;
  }
}


footer{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

div.footNav{
  background: #ffffff;
  width:100%;
  position: fixed;
  height:10%;
  bottom:0;
  display:flex;
  align-items: center;
  justify-content: center;
}

a.footLink, a.footLink:visited {
  display: flex;
  text-align: center;
  justify-content: center;
  width:100px;
  align-items: center;
  color:#ffffff;
  text-decoration: none;
  padding:10px 10px 10px 10px;
  margin: 10px 5px 10px 5px;
  background-color: #ff5566;
}

a.footLink:hover{
background-color: rgba(0, 62, 77, 1.0);
}
