main{
  display:none;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% 90%;
  width:100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galleryNavs{
  display:none;
  width:100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

ul.designGalleries{
  display: none;
}

ul.devGalleries{
  display: none;
}

ul.writingGalleries{
  display: none;
}

ul.photoGalleries{
  height:100%;
  width:100%;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  align-items: center;
  justify-items: center;
  margin:0px;
  padding:0px;
  background-size: auto 100%;
}

li.photoItems{
  cursor:pointer;
  height:92%;
  width:95%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0px;
  padding:0px;
  color:#ffffff;
  text-align: center;
  font-size:0.7em;
}

li.photoItems:hover{
  height:80%;
  width:83%;
}

li#byhGallery{
  background: url("../portfolios/photography/galleries/BlessYourHeart/smiths007.jpg");
  background-size: 150% auto;
}

li#comGallery{
  background: url("../portfolios/photography/galleries/Commission/DSC_9971-flip.jpg") center;
  background-size: 150% auto;
}

li#indieGallery{
  background: url("../portfolios/photography/galleries/Indie/DSC_8172-flip.jpg") bottom center;
}

li#dodGallery{
  background: url("../portfolios/photography/galleries/Disorientation/SUMMER.jpg");
}

li#tbaGallery{
  background: url("../portfolios/photography/galleries/ThereBackAgain/010-2.jpg") bottom left;
  background-size: 180% auto;
}

@media only screen and (min-width:501px) {
  li#indieGallery, li#dodGallery{
    background-size: 150% auto;
  }
}

@media only screen and (max-width:500px) {
  li#indieGallery, li#dodGallery{
    background-size: auto 150%;
  }
}
